<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9095082066-dnvgg09atbclotgv01iqss75kb301cml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9095082066-dnvgg09atbclotgv01iqss75kb301cml</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>9095082066-clfj6j0jvdmm55vvahiq35plht60l83m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAF3LsNBRLz71BFvh7GCytMxYimz3ycM20</string>
	<key>GCM_SENDER_ID</key>
	<string>9095082066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.needu</string>
	<key>PROJECT_ID</key>
	<string>needu-86b9a</string>
	<key>STORAGE_BUCKET</key>
	<string>needu-86b9a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9095082066:ios:c9ec77ed8357ae6ed32f8b</string>
</dict>
</plist>